.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensures it's above other content */
  }
  
  .spinner-image {
    width: 225px;
    height: 225px;
    background: url('../../assets/kst.jpeg') no-repeat center center;
    background-size: cover; /* Ensures the image covers the div */
    border-radius: 50%; /* Optional: Make the image round */
    /* animation: spin 1.2s linear infinite; */
    animation: spin 11s linear infinite;
  }
  
  /* Keyframes for the spinning animation */
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  