<mat-toolbar color="primary" >
  <h4>APPLY LEAVE </h4>
</mat-toolbar>

<div class="leave">
  <mat-card>
      <mat-card-title>
       
      </mat-card-title>
      <mat-card-content>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque impedit perspiciatis facilis, culpa distinctio, at cum dolorem quo necessitatibus ut
           repudiandae fuga neque sunt voluptatem veritatis cumque modi vero consequatur!
      </mat-card-content>
      <mat-card-actions>
         <div>
              <button mat-raised-button class="btnCreate"
          (click)="openDialog()">Apply
            <!-- <mat-icon>add</mat-icon> -->
        </button> 

        <button routerLink="/" mat-raised-button class="btnCreate">Home
          <!-- <mat-icon>add</mat-icon> -->
      </button> 



      </div>
      </mat-card-actions>
  </mat-card>
</div>