<mat-toolbar color="primary" >
    <h4>LOGIN PAGE </h4>
  </mat-toolbar>


<mat-card>
    <mat-card-title>
        info
    </mat-card-title>
    <mat-card-content>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum ut nam, cupiditate, at laboriosam suscipit enim numquam necessitatibus eligendi eveniet
         eaque eius modi atque distinctio incidunt omnis dolorum mollitia neque.
    </mat-card-content>
    <mat-card-actions>
        <a href="" [routerLink]="['/login']" routerLinkActive="router-link-active" > 
            <button mat-raised-button color="primary">click</button>
        </a>
    </mat-card-actions>
</mat-card>