<mat-toolbar color="primary" >
  <h4>Employee Leave update </h4>
</mat-toolbar>

<div class="container">
    <div class="row">
        <div class="col-md-6 text-center mt-5 mx-auto">
            <mat-card class="example-card"> 
                    <form [formGroup]="leave_update_form" (ngSubmit)="updateData()" class="example-form" autocomplete="off">       
                        <mat-card-content>
                            <div class="m-3 fs-5 ">
                              <small *ngIf="success_msg" class="success-msg fw-bold">updated successfully!! loading...<span
                                class="spinner-border text-success"></span> 
                            </small>
                            </div>
                         
                          <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Username</mat-label>
                            <input matInput placeholder="username" formControlName="username"maxlength = "18">
                            <mat-error *ngIf="haserror('username','required') ">username must required</mat-error>
                          </mat-form-field>
                          
                          
                          <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>From Date</mat-label>
                            <input matInput formControlName="from_date" [matDatepicker]="picker"  placeholder="">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>  
                            <mat-error *ngIf="haserror('from_date','required')  ">fromdate must required</mat-error>                      
                          </mat-form-field>

                          <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>To Date</mat-label>
                            <input matInput formControlName="to_date" [matDatepicker]="picker1"  placeholder="">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>  
                            <mat-error *ngIf="haserror('to_date','required')  ">to_date must required</mat-error>                         
                            <mat-error *ngIf="haserror('to_date','isNot')  ">to_date must greater than equal to fromdate</mat-error>                    
                          </mat-form-field>

                          <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Status</mat-label>
                            <mat-select formControlName="status" >   
                                <mat-option value="Emergency">Emergency leave</mat-option>
                                <mat-option value="General">General leave</mat-option>
                            </mat-select>
                            <mat-error *ngIf="haserror('status','required')  ">status must required</mat-error>
                          </mat-form-field>

                        <mat-form-field class="example-full-width" appearance="outline">
                          <mat-label>Reason</mat-label>
                          <textarea matInput placeholder="Reason..." formControlName="reason"></textarea>
                          <mat-error *ngIf="haserror('reason','required')  ">reason must required</mat-error>
                          <mat-error *ngIf="haserror('reason','pattern')  ">reason must valid</mat-error>
  
                        </mat-form-field>

                        
                </mat-card-content>
                <mat-card-actions>
                    <button type="submit" 
                    mat-raised-button [disabled]="leave_update_form.invalid" color="primary">SAVE</button>
                  <button routerLink="" mat-button>BACK</button>
                </mat-card-actions>

            </form>        
              </mat-card>
        </div>
    </div>
</div>