.mat-form-field {
    padding: 16px;
}
.mat-toolbar.mat-primary {
    background: #007bff;
    color: #fff;
  }


.hours{
    border-radius: 12px;
    width: 200px;
    height: 40px;
}
h4{
    font-size: 20px;
    height: auto;
    width: 100%;
    text-transform: uppercase;
    font-style: italic;
    text-align: center;
}
.pagination{
    padding: 20px 16px;
    float: right;
    font-size: 16px;
}
.pagination ::ng-deep .ngx-pagination .current {
    background: red;
}
#cancel{
    float: right;
}
